/*html {*/
/*    background: url(images/wp4078888.jpg) no-repeat center center fixed;*/
/*    -webkit-background-size: cover;*/
/*    -moz-background-size: cover;*/
/*    -o-background-size: cover;*/
/*    background-size: cover;*/
/*}*/
body{
    font-family: calibri;
    position: fixed;
    background: url(images/wp4078888.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.packman-logo{
    display: block;
    position: fixed;
    top:0.5%;
    display: flex;
}

/*#info-canvas{*/
/*    position: absolute;*/
/*    top: 0px;*/

/*    right: 770px;*/
/*    width: 600px;*/
/*    height: 200px;*/
/*    vertical-align:top;*/
/*    display:inline-block;*/
/*    !*margin:25px 0 25px 10px;*!*/
/*}*/

header{
    position: fixed;
    align-items: center;
    font-size: 20px;
    top:20px;
    left:150px;
    width:100%;
    display: flex;
    transition: 0.6s;
    /*padding-top: 10px;*/
    /*padding-right: 100px;*/
    /*padding:40px,100px;*/
    color: antiquewhite;
    font-family: calibri;
}

header a {
    position: relative;
    margin: 0 15px;
    text-decoration:none;
    color: #FFEE28;
    Letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
    right: 10px;
    font-family: calibri;
}

header a:hover{
    background-color: black;
    color: antiquewhite;
}

/***Welcome, Register, Login basic style***/
.main-div {
    /*padding: 15px 10px; !*box size*!*/
    /*margin-left: 160px;*/
    position: fixed;
    /* Location in the box */
    top: 5%;
    left:27%;
    /*visibility: hidden;*/
    color: antiquewhite;
    font-family: calibri;
    /*display: none; !* Hidden by default *!*/
    /*overflow: auto; !* Enable scroll if needed *!*/
    /*background-color: rgb(0, 0, 0); !* Fallback color *!*/

    /*text-align: center;*/
    /*color: gold;*/
}

/***Menu***/
.main-div .menu-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
    color: antiquewhite;
    font-family: calibri;
}

/**welcome**/
#welcome{
    text-align: center;
}
.welcome-packman-logo{
    display: block;
    top: 5%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width:400px ;*/
    /*height:144px;*/
    /*top:20px;*/
}
button{
    color: black;
    /*text-align: center;*/

    /*display: inline-block;*/
    font-size: 30px;
    /*-webkit-transition-duration: 0.4s; !* Safari *!*/
    /*transition-duration: 0.4s;*/
    top:50%;

    cursor: pointer;
    position: relative;
    padding:15px 32px;
    border-radius: 3.75rem;
    line-height: 2.5rem;
    font-weight: 600;

    border: 0.5px solid #012880;
    background-image: linear-gradient(-180deg, #ffeb89 0%, #fff800 100%);
    box-shadow: 5px 10px  1.25rem 0 rgba(22,75,195,0.50),
    0 -0.25rem 1.5rem rgb(155, 132, 15) inset,
    0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
    0 0.25rem 0.5rem 0 rgb(207, 168, 70) inset;
}
button::before {
    content: "";
    display: block;
    height: 0.25rem;
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 7.5rem);
    background: #fff;
    border-radius: 100%;

    opacity: 0.7;
    background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

button::after {
    content: "";
    display: block;
    height: 0.25rem;
    position: absolute;
    bottom: 0.75rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 7.5rem);
    background: #fff;
    border-radius: 100%;

    filter: blur(1px);
    opacity: 0.05;
    background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

/**register**/
#register{
    color: antiquewhite;
    font-family: calibri;
}
#register  label,input{
    display: block;
}
#register  input.text{
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
}

#register  fieldset {
    padding:0;
    border:0;
    margin-top:25px;
}

#register  h1 {
    font-size: 1.2em;
    margin: .6em 0;

}

#register  div#users-contain {
    width: 350px;
    margin: 20px 0;
}

#register  div#users-co ntain table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
}

#register  div#users-contain table td, div#users-contain table th {
    border: 1px solid #eee;
    padding: .6em 10px;
    text-align: left;
}

#register  .ui-dialog .ui-state-error {
    padding: .3em;
}

#register  .validateTips {
    border: 1px solid transparent;
    padding: 0.3em;
}


/***About, GameOver basic style****/
/* background from:w3schools*/
div.aboutModel{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color: antiquewhite;
    font-family: calibri;

}

/**About**/
/*from:w3schools*/
div .about-content{
    background-color:#F7FDE6;
    margin: auto;
    /*padding: 10px;*/
    padding-left: 10px;
    border: 5px solid #F7FDE6;
    border-radius: 5px;
    width: 60%;
    font-size: 21px;
    color: black;
    font-family: calibri;
}
/*Close About Button  from:w3schools*/
.aboutModel .about-content .closeSpan {
    color:black;
    float: right;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;

}

.aboutModel .about-content .closeSpan:hover,
.aboutModel .about-content .closeSpan:focus {
    color: lightslategray;
    text-decoration: none;
    cursor: pointer;
}

.dialog-form-body .register-button{
    color: black;
    /*text-align: center;*/

    /*display: inline-block;*/
    font-size: 30px;
    /*-webkit-transition-duration: 0.4s; !* Safari *!*/
    /*transition-duration: 0.4s;*/
    top:50%;

    cursor: pointer;
    position: relative;
    padding:15px 32px;
    border-radius: 3.75rem;
    line-height: 2.5rem;
    font-weight: 600;

    border: 0.5px solid #012880;
    background-image: linear-gradient(-180deg, #ffeb89 0%, #fff800 100%);
    box-shadow: 5px 10px  1.25rem 0 rgba(22,75,195,0.50),
    0 -0.25rem 1.5rem rgb(155, 132, 15) inset,
    0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
    0 0.25rem 0.5rem 0 rgb(207, 168, 70) inset;
}
.dialog-form-body .register-button::before {
    content: "";
    display: block;
    height: 0.25rem;
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 7.5rem);
    background: #fff;
    border-radius: 100%;

    opacity: 0.7;
    background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

.dialog-form-body .register-button::after {
    content: "";
    display: block;
    height: 0.25rem;
    position: absolute;
    bottom: 0.75rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 7.5rem);
    background: #fff;
    border-radius: 100%;

    filter: blur(1px);
    opacity: 0.05;
    background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}


/***SETTINGS**/
div.settingOption {
    position: fixed;
    top:5%;
    color: blanchedalmond;
    text-align: center;
    left:15%;
}

table.settingtable, .setting-input{
    margin-left: auto;
    margin-right: auto;
}


/*#game{*/
/*    color: darkorange;*/
/*}*/
/****GAME*****/

.gameDiv {
    position: fixed;
    top:10%;
    color: blanchedalmond;
    left:2%;
    /*padding: 15px 10px; !*box size*!*/
    /*margin-right: 160px;*/
    /*position: fixed;*/
    /*!* Location in the box *!*/
    /*top: 5%;*/
    /*left: 40px;*/
    /*width: 1000px;*/
    /*height: 100px;*/

    /*visibility: hidden;*/
    /*color: antiquewhite;*/
    /*font-family: calibri;*/
    /*display: none; !* Hidden by default *!*/
    /*overflow: auto; !* Enable scroll if needed *!*/
    /*background-color: rgb(0, 0, 0); !* Fallback color *!*/

    /*text-align: center;*/
    /*color: gold;*/
}
/**Game-info-table***/
table.info-table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #E7DB50;
    /*height: 200%;*/
    /*text-align: center;*/
    /*top: 10%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/

}
table.info-table tbody td {
    font-size: 13px;
    color: #202321;
}
table.info-table thead {
    border-bottom: 2px solid #444444;
}
table.info-table th {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #202321;
}

/***GAME OVER***/
.gameOver{
    position: fixed;
    top:5%;
    color: blanchedalmond;
    left:30%;
}
.gameOver p{
    font-family: PacFont;
    src: url("font/PacFont.ttf");
    font-size: 30px;
    color: #ffea00;
    padding-left: 10%;
}

.gameOver button{
    left:15%;
}
/**{*/
/*    font-family: PacFont;*/
/* }*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
    margin-top: -45px;
    font-size: 12px;

}